@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


.wrapper {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

header {
  padding: 0 0 5px 0;
  background-color: rgb(236, 206, 33);
  border-bottom: 3px solid rgb(70, 70, 248);
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  color: white;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row>div {
  margin-bottom: -16px;
}

header nav {
  display: flex;
  justify-content: center;
}

.scoreboard {
  font-weight: bold;
  padding: 0 10px 10px 10px;
  margin: 0;
  text-shadow: -1px -1px black,
                1px -1px black,
                -1px 1px black,
                1px 1px black;
}

.jumbotron {
  display: flex;
  justify-content: center;
  background-color: red;
  color: #ffffff;
  height: 50px;
  text-shadow: -1px -1px black,
                1px -1px black,
                -1px 1px black,
                1px 1px black;
  width: 100%;
}

.jumbotron p {
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
  font-size: 1.5rem;
}

@media only screen and (max-width: 700px) {
  .jumbotron {
    margin-top: 120px;
  }
}

@media only screen and (max-width: 600px) {
  .jumbotron {
    margin-top: 110px;
  }
  .jumbotron p {
    margin: 0;
    font-size: 15px;
  }
}

.card {
  background: #fff;
  border: 3px solid gray;
  border-radius: 5px;
  margin: 40px 20px;
  position: relative;
  height: 300px;
  width: 250px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  transition: box-shadow 0.1s ease-in-out;
  padding-bottom: 10px;
}

.card:hover {
  box-shadow: 0 12px 24px #999, 0 12px 24px #999;
  height: 300px;
  width: 250;
}

.img-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.card>.img-container {
  height: 80%;
  overflow: hidden;
  text-align: center;
  border-bottom: 3px solid gray;
  border-radius: 5px;
}

.card>.img-container>img {
  width: 80%
}

.card>.content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
  background: #6CADDC;
}



.card>.img-content>p {
  
}

.animate {
  animation: shake .5s;
}

@media only screen and (max-width: 600px) {
  .card:hover {
    height: 300px;
    width: 250px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  }
}
